#recent_work {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 30%;
    top: 6em;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}


.recent_work_arrow {
    position: absolute;
    display: block !important;
    color: var(--color-system-interactive);
    font-size: 1.2rem;
    padding-left: 2em;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in;
    z-index: 500 !important;
    left: -4em;
    top: 4em;
}

.recent_highlight {
    z-index: 999 !important;
    animation: transition_show_y var(--animation-duration-normal) forwards ease-in-out;
}

#what_do {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 75%;
    top: 50%;
    justify-self: center;
    max-width: 35vw;
    width: 35vw;
    overflow-x: hidden;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 1em;
}

.whatDo_list {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: .25rem;
    justify-content: center;
    justify-self: center;
    padding: 1em;
}

#commission {
    color: var(--color-system-success);
    font-size: .6rem;
    animation: opacity-pingpong 10s infinite ease-in-out;
    position: absolute;
    transform: translateX(-50%);
    right: 2em;
    top: 1em;
}