html, body {
    overflow-y: scroll;
}


#content {
    position: absolute;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 20vw 70vw;
    grid-auto-rows: auto;
    padding: 1em;
    margin: 1em;
    grid-gap: 1em;
    justify-self: center;
    top: 7em;
    left: 50%;
}

#table_content {
    padding: .5em;
    justify-items: center;
}

#table_content > * {
    margin-bottom: 1rem;
}

#doc {
    padding: .5em;
}

.gridp2 {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 1em;
    justify-items: center;
}

.gridp2 > img {
    display: block;
    max-width: 128px;
    object-fit: cover;
}

#gallery {
    justify-self: center;
}